Repository gitify-app/gitify, pull requests merged in 2024-07, with the labels that each got.

#1323 docs: add badge logos
  README.md
Labels: documentation

#1320 refactor: split settings into smaller components
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/NotificationSettings.test.tsx
  src/components/settings/NotificationSettings.tsx
  src/components/settings/SettingsFooter.test.tsx
  src/components/settings/SettingsFooter.tsx
  src/components/settings/SystemSettings.test.tsx
  src/components/settings/SystemSettings.tsx
  src/components/settings/__snapshots__/NotificationSettings.test.tsx.snap
  src/components/settings/__snapshots__/SettingsFooter.test.tsx.snap
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1304 feat: notification filters
  src/__mocks__/state-mocks.ts
  src/app.tsx
  src/components/Header.test.tsx
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/NotificationSettings.test.tsx
  src/components/settings/NotificationSettings.tsx
  src/components/settings/__snapshots__/NotificationSettings.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Filters.test.tsx
  src/routes/Filters.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
  src/utils/reason.ts
Labels: enhancement

#1321 feat: reset to default settings
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/NotificationSettings.tsx
  src/components/settings/SystemSettings.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#1318 refactor: button component
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/buttons/Button.test.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/__snapshots__/Button.test.tsx.snap
  src/components/buttons/__snapshots__/SidebarButton.test.tsx.snap
  src/components/fields/RadioGroup.tsx
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/SettingsFooter.test.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/cn.ts
Labels: refactor

#1341 fix: radio buttons alignment
  src/components/fields/RadioGroup.tsx
  src/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#1276 feat: show notification number for issues, prs, discussions
  src/__mocks__/state-mocks.ts
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/typesGitHub.ts
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/api/graphql/discussions.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1345 fix: sound import
  src/utils/notifications.ts
Labels: bug

#1344 feat: align filters by using legend component
  src/routes/Filters.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
Labels: enhancement

#1343 feat: settings header icon
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/__snapshots__/Header.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Filters.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#1342 build: check for PR labels
  .github/workflows/label.yml
Labels: build

#1347 build: auto label prs
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/pr-triage.yml
Labels: build

#1348 build(release): a fresh attempt to use default github_token
  .github/workflows/release.yml
Labels: build

#1333 feat: zoom buttons
  package.json
  pnpm-lock.yaml
  src/__mocks__/electron.js
  src/__mocks__/state-mocks.ts
  src/components/buttons/Button.tsx
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/SettingsFooter.test.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/electron/main.js
  src/routes/Settings.test.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/zoom.test.ts
  src/utils/zoom.ts
Labels: enhancement

#1349 build(release): `v5.10.0`
  .github/labeler.yml
  .github/workflows/release.yml
  .husky/pre-commit
  CONTRIBUTING.md
  README.md
  package.json
Labels: release

#1353 build(husky): restore pre-commit
  .husky/pre-commit
Labels: build

#1357 fix: use installed version of `lint-staged`
  .husky/pre-commit
Labels: bug

#1358 chore: switch biome to `check` and add `--no-errors-on-unmatched`
  package.json
Labels: build

#1356 feat: add support for RepositoryDependabotAlertsThread
  src/components/notification/NotificationFooter.test.tsx
  src/components/notification/NotificationFooter.tsx
  src/components/notification/__snapshots__/NotificationFooter.test.tsx.snap
  src/typesGitHub.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/icons.test.ts
  src/utils/icons.ts
Labels: enhancement

#1362 build: revert to use pnpx
  .husky/pre-commit
Labels: build

#1361 fix: alignment of notification title and number
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
Labels: bug

#1363 refactor: slim down zoom controls
  src/components/buttons/Button.tsx
  src/components/fields/Checkbox.tsx
  src/components/fields/RadioGroup.tsx
  src/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/components/settings/AppearanceSettings.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1373 test: remove unused mocks
  src/routes/Settings.test.tsx
Labels: test

#1378 feat: add tooltip support to radio group
  src/components/fields/RadioGroup.tsx
Labels: enhancement

#1375 fix: overflow ellipsis
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
Labels: bug

#1379 refactor: only open https external links
  src/utils/comms.test.ts
  src/utils/comms.ts
Labels: refactor

#1377 refactor: split default and mock settings into sections
  src/__mocks__/state-mocks.ts
  src/context/App.tsx
Labels: refactor

#1374 fix: add pointer to setting inputs
  src/components/fields/Checkbox.tsx
  src/components/fields/RadioGroup.tsx
  src/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: bug

#1376 feat(settings): open links in foreground or background
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/NotificationRow.test.tsx
  src/components/RepositoryNotifications.test.tsx
  src/components/Sidebar.test.tsx
  src/components/buttons/Button.test.tsx
  src/components/notification/NotificationFooter.test.tsx
  src/components/notification/NotificationHeader.test.tsx
  src/components/settings/NotificationSettings.test.tsx
  src/components/settings/SettingsFooter.test.tsx
  src/components/settings/SystemSettings.test.tsx
  src/components/settings/SystemSettings.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Accounts.test.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/comms.test.ts
  src/utils/comms.ts
  src/utils/links.test.ts
Labels: enhancement

#1365 feat: repo-level transition and delayed notifications
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.test.tsx
  src/components/RepositoryNotifications.tsx
  src/hooks/useNotifications.ts
  src/utils/remove-notifications.test.ts
  src/utils/remove-notifications.ts
Labels: enhancement

#1388 deps: update electron-updater
  package.json
  pnpm-lock.yaml
Labels: dependency

#1383 feat: animate all notifications upon repository interaction
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
Labels: enhancement

#1391 docs: link to homebrew-cask autobump workflow
  CONTRIBUTING.md
Labels: documentation

#1396 feat: add accelerator shortcuts
  src/electron/main.js
Labels: enhancement

#1401 feat: set tray tooltip
  src/electron/main.js
Labels: enhancement

#1399 feat: developer context menu
  src/electron/main.js
Labels: enhancement

#1400 feat: add electron-log
  package.json
  pnpm-lock.yaml
  src/electron/first-run.js
  src/electron/main.js
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/auth/migration.test.ts
  src/utils/auth/migration.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement, dependency

#1406 refactor: change first run error log level
  src/electron/first-run.js
Labels: refactor

#1413 refactor: rename isEnterpriseHost helper
  src/utils/api/utils.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: refactor

#1405 feat(developer): reset application
  src/context/App.test.tsx
  src/context/App.tsx
  src/electron/main.js
Labels: enhancement

#1420 refactor: fix biomejs lint warning
  src/context/App.tsx
Labels: refactor

#1404 feat(developer): take screenshot
  src/electron/main.js
Labels: enhancement
