Repository gitify-app/gitify, pull requests merged in 2024-02, with the labels that each got.

#777 feat: prevent local files from opening
  src/components/Repository.tsx
  src/components/Sidebar.tsx
  src/routes/LoginWithToken.tsx
  src/utils/comms.test.ts
  src/utils/comms.ts
Labels: enhancement

#779 chore: bump pnpm/action-setup
  .github/workflows/build-app.yml
  .github/workflows/on-tag.yml
  .github/workflows/release.yml
  .github/workflows/run-tests.yml
  .github/workflows/validator.yml
Labels: dependency

#781 feat: create FirstRun directory if missing
  first-run.js
Labels: enhancement

#789 fix: remove notification from state on open
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
Labels: bug

#791 refactor: is enterprise host fn
  src/hooks/useNotifications.ts
  src/utils/auth.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: refactor

#811 fix: add type to urls
  src/utils/helpers.ts
Labels: refactor

#812 feat: support repository invitation links
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: enhancement

#814 feat: support icons/colors for checksuite / workflow notifications
  src/components/NotificationRow.tsx
  src/typesGithub.ts
  src/utils/__snapshots__/github-api.test.ts.snap
  src/utils/github-api.test.ts
  src/utils/github-api.ts
Labels: enhancement

#819 feat: add support for `approval_requested` reason
  src/typesGithub.ts
  src/utils/__snapshots__/github-api.test.ts.snap
  src/utils/github-api.test.ts
  src/utils/github-api.ts
Labels: enhancement

#820 feat: add support for `WorkflowRun` subject
  src/typesGithub.ts
  src/utils/github-api.test.ts
  src/utils/github-api.ts
Labels: enhancement

#822 feat: issue not planned icon
  src/utils/github-api.test.ts
  src/utils/github-api.ts
Labels: enhancement

#824 refactor: order reasons alphabetically
  src/utils/github-api.ts
Labels: refactor

#825 refactor: order state types alphabetically
  src/typesGithub.ts
Labels: refactor

#827 feat: support discussion state types
  src/__mocks__/mockedData.ts
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/typesGithub.ts
  src/utils/__snapshots__/github-api.test.ts.snap
  src/utils/github-api.test.ts
  src/utils/github-api.ts
  src/utils/helpers.ts
Labels: enhancement
