Repository gitify-app/gitify, pull requests merged in 2024-05, with the labels that each got.

#1076 test: update mock datasets
  src/__mocks__/mockedData.ts
  src/components/Repository.test.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/Repository.test.tsx.snap
  src/context/App.test.tsx
  src/hooks/useNotifications.test.ts
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/utils/api/client.test.ts
  src/utils/helpers.test.ts
  src/utils/subject.test.ts
Labels: test

#1077 refactor: add user type
  src/components/NotificationRow.test.tsx
  src/typesGitHub.ts
Labels: refactor

#1079 test(theme): increase coverage
  src/utils/theme.test.ts
  src/utils/theme.ts
Labels: test

#1081 test(notification): add coverage for keyDown event
  src/components/NotificationRow.test.tsx
Labels: test

#1080 refactor: broaden try/catch and add coverage
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: refactor

#1083 test(getHtmlUrl): add coverage for error state
  src/utils/api/client.test.ts
Labels: test

#1082 test(sidebar): increase coverage
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
Labels: test

#1075 feat: skip fetching PR comments when none exist
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1073 refactor: extract notification retrieval logic
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
Labels: refactor

#1084 test: add hostname to partial mocks
  src/__mocks__/partial-mocks.ts
Labels: test

#1085 refactor: extract discussions api calls into client
  package.json
  pnpm-lock.yaml
  src/__mocks__/mockedData.ts
  src/typesGitHub.ts
  src/utils/api/client.ts
  src/utils/api/graphql/discussions.ts
  src/utils/api/utils.test.ts
  src/utils/api/utils.ts
  src/utils/constants.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: refactor

#1091 chore: prepare 5.5.0 release
  package.json
Labels: release

#1093 refactor: add types to helper fns
  src/utils/helpers.ts
Labels: refactor

#1094 refactor(discussions): use API to get latest comment and reply
  src/__mocks__/mockedData.ts
  src/utils/api/client.ts
  src/utils/helpers.ts
Labels: refactor

#1099 refactor: remove async from ipc handlers
  main.js
Labels: refactor

#1096 refactor: update enterprise host test data
  src/utils/helpers.test.ts
Labels: test

#1095 refactor: use URL object instead of strings
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/api/utils.test.ts
  src/utils/api/utils.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: refactor

#1092 feat: delay notification removal
  src/__mocks__/mock-state.ts
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/constants.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notification.ts
Labels: enhancement

#1108 feat: add comment count icon
  src/__mocks__/mockedData.ts
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/typesGitHub.ts
  src/utils/api/graphql/discussions.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1103 feat: use `last_read_at` timestamp when available
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/utils/helpers.ts
Labels: enhancement

#1098 refactor: main script
  main.js
Labels: refactor

#1118 feat: support discussions for github server
  src/utils/api/client.ts
  src/utils/api/utils.test.ts
  src/utils/api/utils.ts
Labels: enhancement

#1119 feat(auth): add `create oauth app` link to enterprise route
  src/routes/LoginEnterprise.test.tsx
  src/routes/LoginEnterprise.tsx
  src/routes/__snapshots__/LoginEnterprise.test.tsx.snap
  src/utils/auth.test.ts
  src/utils/auth.ts
Labels: enhancement

#1120 feat(auth): disable `generate a pat` if no hostname
  src/routes/LoginWithToken.test.tsx
  src/routes/LoginWithToken.tsx
  src/routes/__snapshots__/LoginWithToken.test.tsx.snap
Labels: enhancement

#1121 feat(login): add help docs to login flows
  src/routes/LoginEnterprise.test.tsx
  src/routes/LoginEnterprise.tsx
  src/routes/LoginWithToken.test.tsx
  src/routes/LoginWithToken.tsx
  src/routes/__snapshots__/LoginEnterprise.test.tsx.snap
  src/routes/__snapshots__/LoginWithToken.test.tsx.snap
Labels: enhancement

#1127 refactor(auth): remove repo scopes check
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/typesGitHub.ts
  src/utils/api/__snapshots__/client.test.ts.snap
  src/utils/api/client.test.ts
  src/utils/api/client.ts
Labels: refactor

#1122 refactor(auth): update ux and terminology
  src/app.tsx
  src/components/fields/Button.tsx
  src/components/fields/__snapshots__/Button.test.tsx.snap
  src/routes/Login.test.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
  src/routes/__snapshots__/LoginEnterprise.test.tsx.snap
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1128 feat(settings): enable `detailed notifications` by default
  src/__mocks__/mock-state.ts
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/routes/Settings.test.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#1129 refactor: auth validation logic
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/utils/auth.test.ts
  src/utils/auth.ts
Labels: refactor

#1112 feat: improve enterprise login
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/notifications.ts
Labels: bug, enhancement

#1135 build: prepare 5.6.0 release
  package.json
Labels: release

#1138 build: set version
  .github/workflows/on-tag.yml
Labels: build

#1137 build: changelog automation
  .github/workflows/release.yml
Labels: build

#1140 test(settings): remove unused mock
  src/routes/Settings.test.tsx
Labels: test

#1143 refactor: update import statements
  src/components/Repository.test.tsx
  src/components/Sidebar.test.tsx
  src/routes/Login.test.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/Settings.test.tsx
Labels: refactor

#1142 refactor(mocks): use consistent naming
  src/__mocks__/mock-state.ts
  src/__mocks__/notifications-mocks.ts
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/NotificationRow.test.tsx
  src/components/Repository.test.tsx
  src/components/Sidebar.test.tsx
  src/context/App.test.tsx
  src/hooks/useNotifications.test.ts
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/Notifications.test.tsx
  src/routes/Settings.test.tsx
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/helpers.test.ts
  src/utils/notifications.test.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notifications.test.ts
  src/utils/storage.test.ts
  src/utils/subject.test.ts
Labels: refactor, test

#1147 test: add missing mock
  src/hooks/useNotifications.test.ts
Labels: test

#1150 refactor(state): update state storage
  src/__mocks__/state-mocks.ts
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/types.ts
  src/utils/helpers.test.ts
  src/utils/notifications.test.ts
  src/utils/storage.test.ts
  src/utils/storage.ts
  src/utils/subject.test.ts
Labels: refactor

#1152 test(settings): add account hostname test
  src/routes/Settings.test.tsx
Labels: test

#1155 test: markRepoNotificationsDone
  src/context/App.test.tsx
Labels: test

#1154 refactor: replace accounts with auth for AuthState
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/LoginWithOAuthApp.test.tsx
  src/utils/auth.test.ts
  src/utils/auth.ts
  src/utils/helpers.ts
  src/utils/notifications.ts
Labels: refactor

#1156 refactor: continued renaming of accounts to auth
  src/components/NotificationRow.tsx
  src/context/App.tsx
  src/routes/Settings.tsx
Labels: refactor

#1159 fix: account name header height
  src/components/AccountNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
Labels: bug

#1158 refactor: login methods and options
  src/__mocks__/state-mocks.ts
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/types.ts
  src/utils/auth/auth.test.ts
  src/utils/auth/types.ts
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
Labels: refactor
