Repository gitify-app/gitify, pull requests merged in 2024-06, with the labels that each got.

#1167 fix: add datetime error handling
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: bug

#1139 feat(accounts): enhance auth account data structure
  src/__mocks__/notifications-mocks.ts
  src/__mocks__/partial-mocks.ts
  src/__mocks__/state-mocks.ts
  src/components/NotificationRow.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/Notifications.tsx
  src/routes/Settings.test.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/typesGitHub.ts
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/api/__snapshots__/client.test.ts.snap
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/auth/auth.test.ts
  src/utils/auth/migration.test.ts
  src/utils/auth/migration.ts
  src/utils/auth/types.ts
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notification.ts
  src/utils/remove-notifications.test.ts
  src/utils/remove-notifications.ts
  src/utils/storage.test.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1169 feat: format notification metrics within "pills"
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/utils/constants.ts
Labels: enhancement

#1170 refactor: use tailwind classes in place of spaces
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
Labels: refactor

#1160 feat: linked issue indicator
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/typesGitHub.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1173 refactor: user's name can be null
  src/types.ts
Labels: refactor

#1161 feat: labels indicator
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/hooks/useNotifications.test.ts
  src/typesGitHub.ts
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/api/graphql/discussions.ts
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1178 feat: milestone indicator
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/typesGitHub.ts
  src/utils/subject.ts
Labels: enhancement

#1177 refactor: update notification footer styles
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/utils/constants.ts
Labels: refactor

#1186 fix: tooltip z index to prevent items showing through
  src/components/fields/Tooltip.tsx
  src/components/fields/__snapshots__/Tooltip.test.tsx.snap
Labels: bug

#1185 refactor: tooltips
  src/routes/Settings.tsx
Labels: refactor

#1184 feat: add pill display settings
  src/__mocks__/state-mocks.ts
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
Labels: enhancement

#1183 refactor: more pill css changes
  src/components/NotificationRow.tsx
  src/components/Repository.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/Repository.test.tsx.snap
  src/utils/constants.ts
  src/utils/helpers.ts
  tailwind.config.js
Labels: refactor

#1191 build: prepare v5.7.0 release
  .github/workflows/release.yml
  package.json
Labels: release

#1189 refactor: use gitify state
  src/__mocks__/state-mocks.ts
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
Labels: refactor

#1193 feat: launch minimized
  main.js
Labels: bug

#1195 refactor: auth method icon component
  src/components/icons/AuthMethodIcon.test.tsx
  src/components/icons/AuthMethodIcon.tsx
  src/components/icons/__snapshots__/AuthMethodIcon.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
Labels: refactor

#1197 fix: FAQ link in README.md
  README.md
  package.json
Labels: documentation, build

#1199 build: refactor website workflow to trigger netlify deployment
  .github/workflows/on-tag.yml
  .github/workflows/website.yml
Labels: build

#1206 fix: theme state
  src/routes/Settings.tsx
Labels: bug

#1205 refactor: theme casting not required
  src/context/App.tsx
Labels: refactor

#1204 refactor: remove unused restoreSetting fn
  src/utils/comms.test.ts
  src/utils/comms.ts
Labels: refactor

#1202 refactor: rename to markRepoNotificationsRead
  src/components/Repository.test.tsx
  src/components/Repository.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
Labels: refactor

#1203 refactor: prefix all gitify custom ipc events. consolidate under comms
  main.js
  src/__mocks__/electron.js
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
  src/routes/Accounts.test.tsx
  src/routes/Login.test.tsx
  src/routes/Login.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/utils/comms.test.ts
  src/utils/comms.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
Labels: refactor

#1208 refactor: tray idle icon
  assets/images/tray-idle.png
  assets/images/tray-idle@2x.png
  main.js
Labels: refactor

#1209 docs: update readme
  README.md
Labels: documentation

#1200 refactor: remove unused auth param
  src/utils/notifications.test.ts
  src/utils/notifications.ts
Labels: refactor

#1214 refactor: move custom styles into class
  src/components/NotificationRow.tsx
  src/components/Sidebar.tsx
  src/routes/Accounts.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/styles/gitify.ts
  src/utils/constants.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notification.ts
Labels: refactor

#1212 feat: tray context menu
  main.js
Labels: enhancement

#1213 build(release): remove gh_token env
  .github/workflows/release.yml
Labels: build

#1210 refactor: mock openExternalLink comms fn
  src/components/NotificationRow.test.tsx
  src/components/Repository.test.tsx
  src/components/Sidebar.test.tsx
  src/routes/Accounts.test.tsx
  src/routes/Settings.test.tsx
Labels: refactor

#1211 refactor: consolidate open links fns
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/Repository.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Settings.tsx
  src/utils/auth/utils.ts
  src/utils/constants.ts
  src/utils/helpers.ts
  src/utils/links.test.ts
  src/utils/links.ts
  src/utils/notifications.test.ts
  src/utils/notifications.ts
Labels: refactor

#1207 refactor: main js
  main.js
Labels: refactor

#1201 feat: support multiple accounts
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/Repository.test.tsx
  src/components/Repository.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/Accounts.test.tsx
  src/routes/Accounts.tsx
  src/routes/Notifications.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/notifications.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notification.ts
  src/utils/remove-notifications.test.ts
  src/utils/remove-notifications.ts
Labels: enhancement

#1220 refactor: remove deprecated overlay scrollbar option
  main.js
Labels: refactor

#1219 feat: only extract linked issues for User PRs
  src/utils/subject.test.ts
  src/utils/subject.ts
Labels: enhancement

#1222 refactor: new pill component
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/buttons/PillButton.test.tsx
  src/components/buttons/PillButton.tsx
  src/components/buttons/__snapshots__/PillButton.test.tsx.snap
  src/styles/gitify.ts
Labels: refactor

#1228 build: prepare v5.8.0 release
  .github/workflows/release.yml
  package.json
Labels: release

#1231 feat: use `clsx` to merge classNames
  package.json
  pnpm-lock.yaml
  src/components/Sidebar.tsx
  src/components/buttons/PillButton.tsx
  src/components/fields/Button.tsx
  src/components/fields/__snapshots__/Button.test.tsx.snap
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/utils/cn.test.ts
  src/utils/cn.ts
  tsconfig.json
Labels: enhancement

#1230 fix: revert updated_at formatting
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: bug

#1233 chore: sort tw classes
  src/app.tsx
  src/components/AccountNotifications.tsx
  src/components/AllRead.tsx
  src/components/NotificationRow.tsx
  src/components/Oops.tsx
  src/components/Repository.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/Oops.test.tsx.snap
  src/components/__snapshots__/Repository.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/buttons/PillButton.tsx
  src/components/buttons/__snapshots__/PillButton.test.tsx.snap
  src/components/fields/Checkbox.tsx
  src/components/fields/FieldInput.tsx
  src/components/fields/RadioGroup.tsx
  src/components/fields/Tooltip.tsx
  src/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/components/fields/__snapshots__/FieldInput.test.tsx.snap
  src/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/components/fields/__snapshots__/Tooltip.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Notifications.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/routes/__snapshots__/Login.test.tsx.snap
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/api/graphql/discussions.ts
Labels: bug

#1234 refactor: remove unused styles
  index.html
Labels: refactor

#1235 fix: idle icon not visible on macos when full screen
  assets/images/tray-idleTemplate.png
  assets/images/tray-idleTemplate@2x.png
  main.js
Labels: bug

#1236 build: prepare v5.8.1 release
  package.json
Labels: release

#1226 refactor: biome linter updates
  biome.json
  src/__mocks__/electron.js
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/Repository.tsx
  src/context/App.tsx
  src/hooks/useNotifications.ts
  src/routes/Accounts.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
  src/utils/theme.test.ts
Labels: refactor

#1237 feat: set app version as `dev` when building locally
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/links.test.ts
  src/utils/links.ts
Labels: enhancement

#1238 style: cleanup useless tw classnames
  index.html
  src/components/AllRead.tsx
  src/components/Oops.tsx
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/components/__snapshots__/Oops.test.tsx.snap
  src/components/fields/FieldInput.tsx
  src/components/fields/__snapshots__/FieldInput.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Notifications.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/routes/__snapshots__/Login.test.tsx.snap
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1239 fix: remove forgotten console log
  src/routes/Settings.tsx
Labels: refactor

#1242 fix: regression in all read ui
  src/components/AllRead.tsx
  src/components/__snapshots__/AllRead.test.tsx.snap
Labels: bug

#1247 build: use macos-latest runners
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: build

#1245 feat: toggle repository notification
  src/components/AccountNotifications.tsx
  src/components/Repository.test.tsx
  src/components/Repository.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/Repository.test.tsx.snap
Labels: enhancement

#1251 style: notification type icon size
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
Labels: refactor

#1241 fix: regression in delay notification state behavior
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/context/App.tsx
  src/styles/gitify.ts
  src/utils/remove-notification.test.ts
  src/utils/remove-notification.ts
Labels: bug

#1256 refactor: add types to webpack config files
  webpack.common.js
  webpack.prod.js
Labels: refactor

#1258 build: prepare v5.9.0 release
  package.json
Labels: release

#1265 refactor: component props
  src/components/AccountNotifications.tsx
  src/components/AllRead.tsx
  src/components/Header.tsx
  src/components/Loading.tsx
  src/components/Logo.tsx
  src/components/NotificationRow.tsx
  src/components/Oops.tsx
  src/components/Repository.tsx
Labels: refactor

#1266 test: remove test-util
  src/components/AllRead.test.tsx
  src/components/test-utils.ts
Labels: test

#1267 refactor: rename repository component
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/RepositoryNotifications.test.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
Labels: refactor

#1269 refactor: move `Button` component into component/buttons
  src/components/buttons/Button.test.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/__snapshots__/Button.test.tsx.snap
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
Labels: refactor

#1270 refactor: extract sidebar button component
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/buttons/SidebarButton.test.tsx
  src/components/buttons/SidebarButton.tsx
  src/components/buttons/__snapshots__/SidebarButton.test.tsx.snap
  src/styles/gitify.ts
  src/types.ts
Labels: refactor

#1268 build(biome): enable noConsoleLog rule
  biome.json
  scripts/notarize.js
  src/utils/auth/migration.ts
Labels: build

#1259 feat: my quick links
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/utils/links.test.ts
  src/utils/links.ts
Labels: enhancement

#1260 feat(settings): keyboard shortcut to open app
  main.js
  src/__mocks__/state-mocks.ts
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/comms.ts
  src/utils/constants.ts
Labels: enhancement

#1274 feat: avatar component
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/components/icons/AvatarIcon.test.tsx
  src/components/icons/AvatarIcon.tsx
  src/components/icons/__snapshots__/AvatarIcon.test.tsx.snap
Labels: refactor

#1277 refactor: rename custom text size to xxs
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/buttons/PillButton.tsx
  src/components/buttons/__snapshots__/PillButton.test.tsx.snap
  tailwind.config.js
Labels: refactor

#1280 fix: regression in login layout
  src/routes/Login.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
Labels: bug

#1275 refactor: gitify logo icon
  src/components/Logo.test.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/icons/LogoIcon.test.tsx
  src/components/icons/LogoIcon.tsx
  src/components/icons/__snapshots__/LogoIcon.test.tsx.snap
  src/routes/Login.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
Labels: refactor

#1273 feat: group notifications by repository or date
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
Labels: enhancement

#1285 chore: add ts-check to js files
  src/__mocks__/electron.js
  tsconfig.json
Labels: build

#1288 fix: account header toggle
  src/components/AccountNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
Labels: bug

#1284 refactor: move `electron` files into dedicated folder
  package.json
  src/electron/first-run.js
  src/electron/index.html
  src/electron/main.js
  tsconfig.json
Labels: refactor

#1293 chore: cleanup gitignore file
  .gitignore
Labels: build

#1290 refactor: invert groupBy to avoid negative conditions
  src/components/NotificationRow.tsx
Labels: refactor

#1294 refactor: introduce size enum to control all icon/buttons consistently
  src/components/AccountNotifications.tsx
  src/components/Header.tsx
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/components/buttons/Button.test.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/PillButton.tsx
  src/components/buttons/SidebarButton.test.tsx
  src/components/buttons/SidebarButton.tsx
  src/components/buttons/__snapshots__/SidebarButton.test.tsx.snap
  src/components/icons/AuthMethodIcon.test.tsx
  src/components/icons/AuthMethodIcon.tsx
  src/components/icons/AvatarIcon.test.tsx
  src/components/icons/AvatarIcon.tsx
  src/components/icons/LogoIcon.test.tsx
  src/components/icons/LogoIcon.tsx
  src/components/icons/PlatformIcon.test.tsx
  src/components/icons/PlatformIcon.tsx
  src/components/icons/__snapshots__/AvatarIcon.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/Settings.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/routes/__snapshots__/Login.test.tsx.snap
  src/types.ts
Labels: refactor

#1291 refactor: fix event prop on click and subtle ui tweaks
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
Labels: bug, refactor

#1289 refactor: interaction button and hover group components
  src/components/AccountNotifications.tsx
  src/components/HoverGroup.test.tsx
  src/components/HoverGroup.tsx
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/HoverGroup.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/components/buttons/InteractionButton.test.tsx
  src/components/buttons/InteractionButton.tsx
  src/components/buttons/SidebarButton.test.tsx
  src/components/buttons/__snapshots__/InteractionButton.test.tsx.snap
  src/components/buttons/__snapshots__/SidebarButton.test.tsx.snap
Labels: refactor

#1287 refactor(avatar): remove cursor style
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/components/icons/AvatarIcon.tsx
  src/components/icons/__snapshots__/AvatarIcon.test.tsx.snap
Labels: refactor

#1292 refactor: opacity enum
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/types.ts
Labels: refactor

#1295 refactor: subtle ui tweaks
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
Labels: refactor

#1302 refactor: notification row header component
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/notification/NotificationHeader.test.tsx
  src/components/notification/NotificationHeader.tsx
  src/components/notification/__snapshots__/NotificationHeader.test.tsx.snap
Labels: refactor

#1301 refactor: further margin and size tweaks
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/notification/NotificationHeader.tsx
  src/components/notification/__snapshots__/NotificationHeader.test.tsx.snap
Labels: refactor

#1309 refactor: use URL to build href
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
Labels: refactor

#1306 refactor: remove null ternaries
  src/components/AccountNotifications.tsx
  src/components/icons/AuthMethodIcon.tsx
  src/components/icons/PlatformIcon.tsx
Labels: refactor

#1308 test: consistent use of jest
  src/components/AllRead.test.tsx
  src/components/RepositoryNotifications.test.tsx
  src/components/Sidebar.test.tsx
  src/components/buttons/Button.test.tsx
  src/context/App.test.tsx
  src/routes/Accounts.test.tsx
  src/routes/Login.test.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/Settings.test.tsx
  src/utils/api/client.test.ts
  src/utils/api/request.test.ts
  src/utils/auth/utils.test.ts
  src/utils/icons.test.ts
  src/utils/subject.test.ts
Labels: test

#1296 refactor: extract pill section into it's own component
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/notification/Pills.test.tsx
  src/components/notification/Pills.tsx
  src/components/notification/__snapshots__/Pills.test.tsx.snap
Labels: refactor

#1310 refactor: emoji updates
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/utils/constants.ts
Labels: refactor

#1305 feat: fetch notifications on navigation
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
  src/context/App.tsx
  src/routes/Settings.test.tsx
  src/routes/Settings.tsx
Labels: enhancement

#1303 refactor: notification footer component
  src/components/NotificationRow.test.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/notification/NotificationFooter.test.tsx
  src/components/notification/NotificationFooter.tsx
  src/components/notification/__snapshots__/NotificationFooter.test.tsx.snap
Labels: refactor

#1313 feat: increase tooltip width
  src/components/fields/Tooltip.tsx
  src/components/fields/__snapshots__/Tooltip.test.tsx.snap
  src/routes/Settings.tsx
Labels: refactor
