Repository gitify-app/gitify, pull requests merged in 2024-11, with the labels that each got.

#1622 fix: set 'Cache-Control: no-cache' for GHE server
  src/renderer/utils/api/__snapshots__/client.test.ts.snap
  src/renderer/utils/api/request.ts
Labels: bug, host:github-server

#1623 build: prepare `v5.16.2` release
  package.json
Labels: release

#1633 refactor: tray icons
  src/main/icons.test.ts
  src/main/icons.ts
  src/main/main.ts
Labels: refactor
