Repository gitify-app/gitify, pull requests merged in 2024-08, with the labels that each got.

#1427 feat: hide hover groups on transition
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
Labels: enhancement

#1419 feat: gracefully handle partial failure for multiple accounts
  src/__mocks__/notifications-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/AllRead.tsx
  src/components/Oops.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/components/__snapshots__/Oops.test.tsx.snap
  src/context/App.tsx
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/Notifications.test.tsx
  src/routes/Notifications.tsx
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/types.ts
  src/utils/notifications.ts
Labels: enhancement

#1397 feat: check for updates
  src/components/settings/SettingsFooter.test.tsx
  src/components/settings/SettingsFooter.tsx
  src/components/settings/__snapshots__/SettingsFooter.test.tsx.snap
  src/electron/main.js
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#1424 feat: use platform version for github enterprise server feature availability (mark as done)
  src/components/NotificationRow.tsx
  src/components/RepositoryNotifications.tsx
  src/components/settings/NotificationSettings.tsx
  src/context/App.tsx
  src/hooks/useNotifications.ts
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
  src/utils/api/__snapshots__/client.test.ts.snap
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: enhancement

#1434 build: prepare `v5.12.0` release
  package.json
Labels: release

#1443 fix: clear global error state on fetch
  src/hooks/useNotifications.ts
  src/routes/Notifications.tsx
  src/routes/__snapshots__/Notifications.test.tsx.snap
Labels: bug

#1444 build: prepare `v5.12.1` release
  package.json
Labels: release

#1450 refactor: improve app update experience
  assets/images/tray-active-update.png
  assets/images/tray-active-update@2x.png
  assets/images/tray-idle-update.png
  assets/images/tray-idle-update@2x.png
  package.json
  pnpm-lock.yaml
  src/components/settings/SettingsFooter.test.tsx
  src/components/settings/SettingsFooter.tsx
  src/components/settings/__snapshots__/SettingsFooter.test.tsx.snap
  src/electron/main.js
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: dependency, refactor

#1451 fix: openLinks on first login screen
  src/context/App.tsx
  src/utils/storage.ts
Labels: bug

#1453 fix: only perform reset app on reset button interaction
  src/electron/main.js
Labels: bug

#1435 build: remove unused vscode settings
  .vscode/settings.json
Labels: build

#1458 test(util): extract global.random to util
  src/__mocks__/utils.ts
  src/components/AccountNotifications.test.tsx
  src/components/AllRead.test.tsx
Labels: test

#1436 feat(accounts): set primary account
  src/routes/Accounts.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
Labels: enhancement

#1455 feat: improve error logging
  src/hooks/useNotifications.test.ts
  src/hooks/useNotifications.ts
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/notifications.ts
Labels: enhancement

#1454 refactor: login pages ui
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.tsx
  src/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
Labels: refactor

#1457 fix: remove account notifications on logout
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/context/App.tsx
  src/hooks/useNotifications.ts
Labels: bug

#1438 feat(accounts): add avatar, account-level quick links and account refresh support
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/RepositoryNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Accounts.test.tsx
  src/routes/Accounts.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/types.ts
  src/utils/auth/migration.test.ts
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
  src/utils/constants.ts
Labels: enhancement

#1456 fix(auth): restore oauth2 flow functionality
  src/electron/main.js
  src/routes/Login.tsx
  src/routes/LoginWithOAuthApp.test.tsx
  src/routes/LoginWithOAuthApp.tsx
  src/routes/LoginWithPersonalAccessToken.test.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
  src/utils/auth/utils.ts
Labels: bug

#1464 refactor: rename `showAccountHostname` to `showAccountHeader`
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/AccountNotifications.tsx
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/context/App.test.tsx
  src/context/App.tsx
  src/routes/Notifications.test.tsx
  src/routes/Notifications.tsx
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
Labels: refactor

#1439 feat(settings): disable `show accounts` when multiple accounts are authenticated
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/context/App.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
Labels: enhancement

#1476 build: prepare `v5.13.0` release
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
Labels: release

#1478 build: prepare `v5.13.1` release
  .github/ISSUE_TEMPLATE/bug_report.yml
  package.json
Labels: release

#1493 feat: login with github app
  src/routes/Accounts.test.tsx
  src/routes/Accounts.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
Labels: enhancement
