Repository gitify-app/gitify, pull requests merged in 2025-01, with the labels that each got.

#1715 feat: auto update progress and cancelled events
  src/main/updater.ts
Labels: enhancement

#1720 feat: optimize github action workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/pr-triage.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test.yml
  .github/workflows/triage.yml
  .github/workflows/website.yml
Labels: enhancement

#1721 feat: reusable github action workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement

#1722 refactor: action trigger logic
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/triage.yml
  .github/workflows/website.yml
Labels: refactor

#1724 refactor: simplify action triggers
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: refactor

#1725 fix: macos code signing
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
  .github/workflows/website.yml
Labels: bug

#1705 build: prepare `v5.18.0` release
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Labels: release

#1732 fix: only inspect errors when fetched notifications exist
  src/renderer/hooks/useNotifications.ts
Labels: bug

#1734 feat: download progress precision
  src/main/updater.ts
Labels: enhancement

#1735 fix: update context menus
  src/main/main.ts
  src/main/menu.test.ts
  src/main/menu.ts
  src/main/updater.ts
  src/shared/constants.ts
Labels: bug

#1736 refactor: platform shared util
  src/main/first-run.ts
  src/main/main.ts
  src/main/menu.ts
  src/renderer/components/settings/SystemSettings.tsx
  src/renderer/utils/notifications.ts
  src/shared/platform.ts
Labels: refactor

#1737 feat: linux check for updates
  package.json
  src/main/menu.ts
  src/shared/constants.ts
Labels: enhancement

#1738 refactor: namespaced events
  src/main/main.ts
  src/main/utils.ts
  src/renderer/__mocks__/electron.js
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/context/App.tsx
  src/renderer/utils/comms.test.ts
  src/renderer/utils/comms.ts
  src/shared/constants.ts
  src/shared/events.ts
Labels: refactor

#1739 refactor: native and filter notification utils
  src/renderer/components/Sidebar.tsx
  src/renderer/context/App.test.tsx
  src/renderer/context/App.tsx
  src/renderer/hooks/useNotifications.ts
  src/renderer/routes/Notifications.tsx
  src/renderer/utils/notifications.test.ts
  src/renderer/utils/notifications.ts
  src/renderer/utils/notifications/filter.test.ts
  src/renderer/utils/notifications/filter.ts
  src/renderer/utils/notifications/native.test.ts
  src/renderer/utils/notifications/native.ts
  src/renderer/utils/notifications/notifications.test.ts
  src/renderer/utils/notifications/notifications.ts
Labels: refactor

#1741 refactor: scrollbar styling
  src/renderer/App.css
  tailwind.config.ts
Labels: refactor

#1743 feat: log when scopes missing
  src/renderer/utils/auth/utils.ts
Labels: enhancement

#1742 feat: error tray icon
  assets/images/tray-error.png
  assets/images/tray-error@2x.png
  src/main/icons.test.ts
  src/main/icons.ts
  src/main/main.ts
  src/renderer/components/Oops.tsx
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/Centered.tsx
  src/renderer/components/primitives/__snapshots__/Centered.test.tsx.snap
  src/renderer/hooks/useNotifications.ts
  src/renderer/routes/__snapshots__/Login.test.tsx.snap
  src/renderer/utils/comms.test.ts
  src/renderer/utils/comms.ts
Labels: enhancement

#1744 fix: x overflow always hidden
  src/renderer/App.tsx
Labels: bug

#1747 refactor: use Icon instead of deprecated Octicon component
  src/renderer/components/buttons/PillButton.tsx
  src/renderer/components/buttons/__snapshots__/PillButton.test.tsx.snap
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationFooter.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/Pills.test.tsx.snap
  src/renderer/components/primitives/Header.tsx
  src/renderer/components/primitives/__snapshots__/Header.test.tsx.snap
  src/renderer/routes/Settings.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1750 feat: adopt RelativeTime primer component
  src/renderer/components/notifications/NotificationFooter.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationFooter.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/renderer/utils/helpers.test.ts
  src/renderer/utils/helpers.ts
Labels: enhancement

#1754 feat: shrink sidebar width
  src/renderer/App.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/__snapshots__/Sidebar.test.tsx.snap
Labels: enhancement

#1755 refactor: remove unused tooltip option
  src/renderer/components/fields/RadioGroup.tsx
Labels: refactor

#1756 refactor: simplify field components
  src/renderer/components/fields/Checkbox.tsx
  src/renderer/components/fields/FieldLabel.test.tsx
  src/renderer/components/fields/FieldLabel.tsx
  src/renderer/components/fields/RadioGroup.tsx
  src/renderer/components/fields/__snapshots__/FieldLabel.test.tsx.snap
  src/renderer/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1757 fix: prevent default filters from getting overwritten
  src/renderer/routes/Filters.tsx
Labels: bug

#1752 feat: primer color schemes
  src/main/main.ts
  src/renderer/App.css
  src/renderer/App.tsx
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/context/App.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/types.ts
  src/renderer/utils/storage.test.ts
  src/renderer/utils/theme.test.ts
  src/renderer/utils/theme.ts
Labels: enhancement

#1762 feat: notification number relo for groupByDate mode
  src/renderer/components/notifications/NotificationHeader.test.tsx
  src/renderer/components/notifications/NotificationHeader.tsx
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationHeader.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
Labels: enhancement

#1765 refactor: error page fallback
  src/renderer/components/Oops.test.tsx
  src/renderer/components/Oops.tsx
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/routes/Notifications.tsx
Labels: refactor

#1770 chore(deps): upgrade Tailwind v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/renderer/App.css
  src/renderer/components/fields/Checkbox.tsx
  src/renderer/components/fields/FieldInput.tsx
  src/renderer/components/fields/Tooltip.tsx
  src/renderer/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/renderer/components/fields/__snapshots__/FieldInput.test.tsx.snap
  src/renderer/components/fields/__snapshots__/Tooltip.test.tsx.snap
  src/renderer/components/layout/Contents.tsx
  src/renderer/components/layout/__snapshots__/Contents.test.tsx.snap
  src/renderer/index.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: dependency

#1774 refactor: control sidebar width via tailwind config
  src/renderer/App.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/__snapshots__/Sidebar.test.tsx.snap
  tailwind.config.ts
Labels: refactor

#1775 refactor: rewrite login forms with primer
  package.json
  pnpm-lock.yaml
  src/renderer/components/fields/FieldInput.test.tsx
  src/renderer/components/fields/FieldInput.tsx
  src/renderer/components/fields/__snapshots__/FieldInput.test.tsx.snap
  src/renderer/components/layout/Centered.tsx
  src/renderer/components/layout/Contents.tsx
  src/renderer/components/layout/Page.test.tsx
  src/renderer/components/layout/Page.tsx
  src/renderer/components/layout/__snapshots__/Contents.test.tsx.snap
  src/renderer/components/layout/__snapshots__/Page.test.tsx.snap
  src/renderer/components/primitives/Footer.tsx
  src/renderer/components/primitives/Header.tsx
  src/renderer/components/primitives/__snapshots__/Footer.test.tsx.snap
  src/renderer/components/primitives/__snapshots__/Header.test.tsx.snap
  src/renderer/routes/Accounts.tsx
  src/renderer/routes/Filters.tsx
  src/renderer/routes/LoginWithOAuthApp.test.tsx
  src/renderer/routes/LoginWithOAuthApp.tsx
  src/renderer/routes/LoginWithPersonalAccessToken.test.tsx
  src/renderer/routes/LoginWithPersonalAccessToken.tsx
  src/renderer/routes/Settings.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/utils/auth/utils.ts
Labels: dependency, refactor

#1776 feat: default tray count to on
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/context/App.tsx
Labels: enhancement

#1777 refactor: account, repository and notification row layouts
  src/renderer/App.tsx
  src/renderer/components/avatars/AvatarWithFallback.tsx
  src/renderer/components/avatars/__snapshots__/AvatarWithFallback.test.tsx.snap
  src/renderer/components/fields/Checkbox.tsx
  src/renderer/components/fields/RadioGroup.tsx
  src/renderer/components/fields/Tooltip.test.tsx
  src/renderer/components/fields/Tooltip.tsx
  src/renderer/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/renderer/components/fields/__snapshots__/RadioGroup.test.tsx.snap
  src/renderer/components/fields/__snapshots__/Tooltip.test.tsx.snap
  src/renderer/components/notifications/AccountNotifications.tsx
  src/renderer/components/notifications/NotificationFooter.tsx
  src/renderer/components/notifications/NotificationHeader.tsx
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/components/notifications/RepositoryNotifications.test.tsx
  src/renderer/components/notifications/RepositoryNotifications.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationFooter.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationHeader.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/renderer/components/primitives/HoverButton.test.tsx
  src/renderer/components/primitives/HoverButton.tsx
  src/renderer/components/primitives/HoverGroup.test.tsx
  src/renderer/components/primitives/HoverGroup.tsx
  src/renderer/components/primitives/Title.tsx
  src/renderer/components/primitives/__snapshots__/Header.test.tsx.snap
  src/renderer/components/primitives/__snapshots__/HoverButton.test.tsx.snap
  src/renderer/components/primitives/__snapshots__/HoverGroup.test.tsx.snap
  src/renderer/components/primitives/__snapshots__/Title.test.tsx.snap
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/components/settings/NotificationSettings.test.tsx
  src/renderer/components/settings/NotificationSettings.tsx
  src/renderer/components/settings/SystemSettings.test.tsx
  src/renderer/components/settings/SystemSettings.tsx
  src/renderer/routes/Accounts.tsx
  src/renderer/routes/Filters.tsx
  src/renderer/routes/Settings.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithOAuthApp.test.tsx.snap
  src/renderer/routes/__snapshots__/LoginWithPersonalAccessToken.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/utils/theme.ts
Labels: refactor

#1779 feat: user setting to wrap notification titles
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/context/App.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/types.ts
Labels: enhancement

#1780 refactor: checkbox component visible flag
  src/renderer/components/fields/Checkbox.test.tsx
  src/renderer/components/fields/Checkbox.tsx
  src/renderer/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/renderer/components/settings/NotificationSettings.tsx
  src/renderer/components/settings/SystemSettings.tsx
Labels: refactor

#1783 fix: hover group background color
  src/renderer/components/notifications/AccountNotifications.tsx
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/components/notifications/RepositoryNotifications.tsx
  src/renderer/components/primitives/HoverGroup.test.tsx
  src/renderer/components/primitives/HoverGroup.tsx
  src/renderer/components/primitives/__snapshots__/HoverGroup.test.tsx.snap
Labels: bug

#1785 refactor: nest detailed notification sub-settings
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1781 feat(auth): use system browser for GitHub SSO / OAuth authentication
  config/webpack.config.renderer.base.ts
  package.json
  src/main/main.ts
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/components/settings/NotificationSettings.tsx
  src/renderer/routes/Accounts.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/utils/auth/types.ts
  src/renderer/utils/auth/utils.test.ts
  src/renderer/utils/auth/utils.ts
Labels: enhancement

#1786 refactor: update settings parent groupings and tooltips
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/components/settings/NotificationSettings.test.tsx
  src/renderer/components/settings/NotificationSettings.tsx
  src/renderer/context/App.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/types.ts
Labels: refactor

#1788 feat: filter counters
  src/renderer/components/AllRead.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/fields/Checkbox.test.tsx
  src/renderer/components/fields/Checkbox.tsx
  src/renderer/components/fields/Tooltip.tsx
  src/renderer/components/fields/__snapshots__/Checkbox.test.tsx.snap
  src/renderer/components/fields/__snapshots__/Tooltip.test.tsx.snap
  src/renderer/routes/Filters.test.tsx
  src/renderer/routes/Filters.tsx
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/utils/filters.test.ts
  src/renderer/utils/filters.ts
Labels: enhancement

#1787 refactor: remove legacy account model and migration util
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/context/App.test.tsx
  src/renderer/context/App.tsx
  src/renderer/types.ts
  src/renderer/utils/auth/migration.test.ts
  src/renderer/utils/auth/migration.ts
  src/renderer/utils/auth/types.ts
  src/renderer/utils/storage.test.ts
Labels: refactor

#1790 refactor: remove nprogress loading indicator
  package.json
  pnpm-lock.yaml
  src/renderer/App.tsx
  src/renderer/components/Loading.test.tsx
  src/renderer/components/Loading.tsx
  src/renderer/components/fields/RadioGroup.test.tsx
  src/renderer/index.tsx
Labels: dependency, refactor

#1791 refactor: reset settings component
  src/renderer/components/primitives/EmojiText.test.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/NotificationSettings.test.tsx
  src/renderer/components/settings/SettingsFooter.test.tsx
  src/renderer/components/settings/SettingsReset.test.tsx
  src/renderer/components/settings/SettingsReset.tsx
  src/renderer/components/settings/SystemSettings.test.tsx
  src/renderer/components/settings/__snapshots__/SettingsFooter.test.tsx.snap
  src/renderer/routes/Settings.test.tsx
  src/renderer/routes/Settings.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1792 feat: truncate long avatar names
  src/renderer/components/avatars/AvatarWithFallback.tsx
  src/renderer/components/avatars/__snapshots__/AvatarWithFallback.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationFooter.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationHeader.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/RepositoryNotifications.test.tsx.snap
  src/renderer/routes/Accounts.tsx
  src/renderer/routes/__snapshots__/Accounts.test.tsx.snap
Labels: enhancement
