Repository gitify-app/gitify, pull requests merged in 2025-04, with the labels that each got.

#1940 fix: notarize process
  package.json
  pnpm-lock.yaml
  scripts/afterSign.js
Labels: build

#1968 refactor: zoom in and out icons
  src/renderer/components/settings/AppearanceSettings.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#1967 feat: make the volume of notifications adjustable
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/components/icons/VolumeDownIcon.tsx
  src/renderer/components/icons/VolumeUpIcon.tsx
  src/renderer/components/settings/SystemSettings.tsx
  src/renderer/context/App.tsx
  src/renderer/routes/__snapshots__/Settings.test.tsx.snap
  src/renderer/types.ts
  src/renderer/utils/notifications/native.test.ts
  src/renderer/utils/notifications/native.ts
Labels: enhancement

#1972 build: prepare `v6.3.0` release
  package.json
Labels: release
