Repository gitify-app/gitify, pull requests merged in 2025-08, with the labels that each got.

#2115 build: adjust auto labeler configuration
  .github/labeler.yml
Labels: build, chore

#2114 build: add auto-milestone workflow on pr merge
  .github/workflows/milestone.yml
Labels: build

#2134 fix(discussions): fetch labels
  src/renderer/utils/api/client.ts
  src/renderer/utils/api/graphql/discussions.ts
Labels: bug

#2135 fix(discussions): find closest discussion comment or reply by timestamp
  src/renderer/utils/api/__mocks__/response-mocks.ts
  src/renderer/utils/api/client.ts
  src/renderer/utils/helpers.ts
  src/renderer/utils/subject.ts
Labels: bug

#2159 refactor: notification handlers
  src/renderer/__helpers__/jest.setup.ts
  src/renderer/__mocks__/notifications-mocks.ts
  src/renderer/components/notifications/NotificationRow.tsx
  src/renderer/utils/__snapshots__/icons.test.ts.snap
  src/renderer/utils/helpers.ts
  src/renderer/utils/icons.test.ts
  src/renderer/utils/icons.ts
  src/renderer/utils/notifications/handlers/checkSuite.test.ts
  src/renderer/utils/notifications/handlers/checkSuite.ts
  src/renderer/utils/notifications/handlers/commit.test.ts
  src/renderer/utils/notifications/handlers/commit.ts
  src/renderer/utils/notifications/handlers/default.test.ts
  src/renderer/utils/notifications/handlers/default.ts
  src/renderer/utils/notifications/handlers/discussion.test.ts
  src/renderer/utils/notifications/handlers/discussion.ts
  src/renderer/utils/notifications/handlers/index.test.ts
  src/renderer/utils/notifications/handlers/index.ts
  src/renderer/utils/notifications/handlers/issue.test.ts
  src/renderer/utils/notifications/handlers/issue.ts
  src/renderer/utils/notifications/handlers/pullRequest.test.ts
  src/renderer/utils/notifications/handlers/pullRequest.ts
  src/renderer/utils/notifications/handlers/release.test.ts
  src/renderer/utils/notifications/handlers/release.ts
  src/renderer/utils/notifications/handlers/repositoryDependabotAlertsThread.test.ts
  src/renderer/utils/notifications/handlers/repositoryDependabotAlertsThread.ts
  src/renderer/utils/notifications/handlers/repositoryInvitation.test.ts
  src/renderer/utils/notifications/handlers/repositoryInvitation.ts
  src/renderer/utils/notifications/handlers/repositoryVulnerabilityAlert.test.ts
  src/renderer/utils/notifications/handlers/repositoryVulnerabilityAlert.ts
  src/renderer/utils/notifications/handlers/types.ts
  src/renderer/utils/notifications/handlers/utils.test.ts
  src/renderer/utils/notifications/handlers/utils.ts
  src/renderer/utils/notifications/handlers/workflowRun.test.ts
  src/renderer/utils/notifications/handlers/workflowRun.ts
  src/renderer/utils/notifications/notifications.test.ts
  src/renderer/utils/notifications/notifications.ts
  src/renderer/utils/subject.test.ts
  src/renderer/utils/subject.ts
Labels: refactor

#2171 refactor: use `@primer/css` directly
  package.json
  pnpm-lock.yaml
  src/renderer/App.css
Labels: dependency, refactor

#2174 feat: added the organization filter
  src/renderer/__mocks__/state-mocks.ts
  src/renderer/components/filters/OrganizationFilter.test.tsx
  src/renderer/components/filters/OrganizationFilter.tsx
  src/renderer/context/App.tsx
  src/renderer/routes/Filters.tsx
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/types.ts
  src/renderer/utils/notifications/filters/filter.test.ts
  src/renderer/utils/notifications/filters/filter.ts
  src/renderer/utils/notifications/filters/index.ts
  src/renderer/utils/notifications/filters/organizations.test.ts
  src/renderer/utils/notifications/filters/organizations.ts
Labels: enhancement

#2178 feat: auto updates for all platforms
  package.json
  pnpm-lock.yaml
  src/main/index.ts
  src/main/updater.test.ts
  src/main/updater.ts
  src/shared/constants.ts
Labels: enhancement, dependency

#2180 refactor: main module
  src/main/first-run.test.ts
  src/main/first-run.ts
  src/main/menu.test.ts
  src/main/menu.ts
  src/shared/constants.ts
Labels: refactor
